theme = "blowfish"
defaultContentLanguage = "en"
enableRobotsTXT = true
summaryLength = 0
buildDrafts = false
buildFuture = false
enableEmoji = true
googleAnalytics = "G-9603VK66SB"

[services.googleAnalytics]
id = "G-9603VK66SB"

[privacy.googleAnalytics]
disable = true
respectDoNotTrack = true

[pagination]
pagerSize = 100

[imaging]
anchor = "Center"

[caches.images]
dir = ":cacheDir/images"

[taxonomies]
tag = "tags"
category = "categories"
author = "authors"
series = "series"

[sitemap]
changefreq = "daily"
filename = "sitemap.xml"
priority = 0.5

[outputs]
home = [ "HTML", "RSS", "JSON" ]

[related]
threshold = 0
toLower = false

  [[related.indices]]
  name = "tags"
  weight = 100

  [[related.indices]]
  name = "categories"
  weight = 100

  [[related.indices]]
  name = "series"
  weight = 50

  [[related.indices]]
  name = "authors"
  weight = 20

  [[related.indices]]
  name = "date"
  weight = 10

  [[related.indices]]
  applyFilter = false
  name = "fragmentrefs"
  type = "fragments"
  weight = 10

[security]
  enableInlineShortcodes = false
  [security.exec]
    allow = ['^(dart-)?sass(-embedded)?$', '^go$', '^git$', '^npx$', '^postcss$', '^tailwindcss$']
    osEnv = ['(?i)^((HTTPS?|NO)_PROXY|PATH(EXT)?|APPDATA|TE?MP|TERM|GO\w+|(XDG_CONFIG_)?HOME|USERPROFILE|SSH_AUTH_SOCK|DISPLAY|LANG|SYSTEMDRIVE|PROGRAMDATA)$']
  [security.funcs]
    getenv = ['^HUGO_', '^CI$']
  [security.http]
    methods = ['(?i)GET|POST']
    urls = ['.*']