/* @font-face {
    font-family: font;
    src: url('/fonts/font.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next=swap');

html {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    font-size:125%;
    font-optical-sizing: auto;
}

#footer a{ 
   text-decoration: underline;
}