/* @font-face {
    font-family: font;
    src: url('/fonts/font.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next');

html {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    font-size:110%;
    font-optical-sizing: auto;
}

a {
  text-decoration: underline;
}

#footer a{ 
   text-decoration: underline;
}

figure {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

bullet {
    font-size: 100%;
}

pre code {
    background-color: rgb(0 0 0 / 0);
    display: block;
    max-height: 500px;  
    overflow-y: auto; 
    overflow-x: auto;
}

const firebaseConfig = {
  apiKey: "AIzaSyCZaQup0gBlax9ZBd4yIXk2WKskWX4QURQ",
  authDomain: "blogpost-71ecd.firebaseapp.com",
  projectId: "blogpost-71ecd",
  storageBucket: "blogpost-71ecd.firebasestorage.app",
  messagingSenderId: "300317438157",
  appId: "1:300317438157:web:6791871f10371a0b60f984",
  measurementId: "G-9603VK66SB" 
};